<div class="user-details">
  <h1> Application </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Date & Location </h3>
    <ul>
      <li>Date : 매주 수요일 3:10 ~ 4:10 <br>(단, 상황에 따라 변경 가능)</li>
      <li>Location : Discord</li>
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Activities </h3>
    <h4> Python을 기반으로 하여 다양한 활동을 진행함 </h4>
    <ul>
      <li> <a href="https://www.youtube.com/watch?v=1zjaA13k-dA&ab_channel=CodeCombat">Code Combat</a>을 통한 파이썬 학습</li>
      <li> 자신이 원하는 프로젝트 (CUI 기반) 제작</li>
    </ul>
  </div>
  
</div>

<!--<script type="text/javascript" id = "error"> alert("가입 기한이 끝났습니다. (~6/14)");</script>-->
<a class="project-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeCbZZuVJ7mclGRlZJFTQiHsmVgXhIA9R65Thu2FtdufDoThg/viewform">가입하기</a>

<script>
  function application() {
    
  }
  </script>